html {
    padding:0;
    margin:0;
}
body {
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    min-width:1000px;
}
a#setViewPrios,
a#setViewTypes {
    padding-right:1em;
}
section#container {
    margin-left: 20px;
}
section#content {
    margin-left:20%;
}
section#sidebar {
    float:left;
    width:20%;
}
.ui.table:first-child {
    margin-top : 1em !important;
}
table#works_1 {
    border-left-color: #EB4747;
    border-left-width: thick;
}
.works_table {
    min-width:1000px;
}
.works_table td.item {
    text-align: right;
}

.works_table th.item {
    width:100px;
}
.works_table th.oeuvre {
    width:150px;
}
.works_table th.types {
    width:120px;
}
.works_table th.work_title {
    width:380px;
}
.works_table th.options {
    width:200px;
}
.works_table th.item:hover,
.works_table th.oeuvre:hover,
.works_table th.types:hover,
.works_table th.work_title:hover {
    cursor:pointer;
}
table.works_table td,
table#usersList td {
    height: 3em;
    padding-top:0 !important;
    padding-bottom:0 !important;
}
td.oeuvre span {
    margin-top:5px !important;
    margin-bottom:5px !important;
}
table.works_table td.item .days_to {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 5px;
}
table.works_table td.item .days_to.urgent {
    color: Red;
}
.icon.pin, .icon.lock {
    color:#ccc;
    float:left;
    font-size: 150%;
}
.icon.warning.sign {
    font-size: 150%;
    color:Red;
    float:left;
}
.w_oeuvre {
    font-weight: bold !important;
    background-color: #D2FCCE !important;
}
.w_oeuvre.diff_col {
    background-color:#B9F1DE !important;
}
.work_title {
}
.work_title .title {
}
.work_types {
    margin-right:10px;
    display: inline-block;
}
.work_types div {
    margin-top:5px !important;
    margin-bottom: 5px !important;
}
#stats_container {
    margin-right: 20px;
    font-size:0.9em;
    z-index: 0;
}
#urgent_count {
    font-weight:bold;
}
#ten_days_or_less_count {
    font-weight:bold;
}
#late_count {
    font-weight:bold;
}
#affectation_ratio_urgent {
    font-weight:bold;
}
#affectation_ratio {
    font-weight:bold;
}
#urgent_count.alert {
    color:Red;
}
#ten_days_or_less_count.alert {
    color:Red;
}
#late_count.alert {
    color:Red;
}
#affectation_ratio_urgent.alert {
    color:Red;
}
#affectation_ratio.alert {
    color:Red;
}
table.works_table td.works_title {
    
}
table.works_table td.work_title:hover,
table.works_table td.oeuvre:hover,
table.works_table td.types:hover,
table.works_table td.item:hover {
    cursor:pointer;
}
table.works_table td.options {
    text-align: right;
}
table.works_table td.options {
    padding-right:5px;
}
table.works_table td.options .button {
    background-color: transparent;
    color:#aaa;
}
table.works_table td.options .button:hover {
    color:#222 !important;
}
dd {
    margin-left:0;
}
.liste_perso .prio {
    font-weight: bold;
    font-size: 16px;
}
.liste_perso .prio.urgent {
    color:Red;
}
#form_error {
    width:200px;
    margin-left:auto;
    margin-right:auto;
}
#soon_tables_container {
    margin-right:20px;
}
#soon_tables_container .oeuvre {
    font-size:80%;
    font-style: italic;
}
#works_1 .set_work_done_button,
#works_2 .set_work_done_button {
    display:inherit;
}
#works_3 .set_work_done_button {
    display:none;
}
#formLogin {
    width:300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
div#noticesContainer .message {
    width:30%;
    position:fixed;
    margin-left:35%;
}
#usersListContainer {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width:900px;
    max-width:900px;
}
#add_user_btn {
    float:right;
}
#usersList {
    
}
#usersList .options {
    text-align:right;
}
#formAddWork {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width:900px;
    max-width:900px;
}
#formEditUser {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
#formAddUser {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
dd#role-element label input {
    margin:5px;
}
#formEditUser #submit {
    display: none;
}
#main_form {
    width:60%;
    float:left;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
}
#right_column_form {
    width:40%;
    float:left;
}
#right_column_form .first {
    padding-bottom:0;
}
#right_column_form .second {
    padding-top:0;
}
#wv_nearby_works {
    padding-left:0;
}
#wv_nearby_works li {
    margin-left:0;
    margin-bottom: 1em;
}

/* BEGIN Form elements */
#tools {
    height:5em !important;
}
dd#types-element label { display:block; }
dd#types-element label input { margin-right: 0.3em; margin-top: 0.1em; }
dd#types-element {
    margin-top:1em;
}
dt#types-label label {
    color:rgba(0, 0, 0, 0.4);
    font-size: 90%;
}
#frequency_type {
    width:8em;
    display:inline;
}
#frequency {
    width:3em;
}
div.message {
    z-index:99;
}

#wv_set_urgent {
    color: Red;
    padding:0.8em;
}

#wv_set_normal {
    color:Green;
    padding:0.8em;
}

#wv_set_done {
    color: Grey;
    padding:0.8em;
}

#wv_title_inside {
    font-weight: bold;
}

#wv_frequency_container {
    padding-top:1em;
}

#wv_types_container {
    padding-top:1em;
}

#wv_tools_container {
    padding-top:1em;
}

#wv_workers_container {
    padding-top:1em;
}

#wv_user_add_container {
    padding-top:1em;
}

#wv_map {
    margin-top:1em;
    height:150px;
    width:100%;
}

#wv_coords {
    padding-top:1em;
    font-style: italic;
    font-size: 80%;
}

/* Conserver ? */
form.formWork legend {
    padding-right: 15px; padding-left: 15px;
}
form.formWork fieldset {
    padding:20px;
    border-color:rgba(216, 216, 216, 0.8);
    border-radius: 0.2857rem;
}
.hide {
    display: none;
}
dd#worktype-element input,
dd#prio-element input {
    margin-right: 6px;
}
@media (max-width: 1400px) {
    section#sidebar {
        display:block;
        width:100%;
    }
    #stats_container {
        display:block;
        position:relative;
    }
    section#content {
        display:block;
        width:100%;
        margin:0;
    }
    table.works_table td.item {
        width:100px;
    }
}